* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* inciando main */

.main {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

body {
    background-color: #0D1B2A;
}

.header {
    position: sticky;
    top: 0;
    padding: 0;
    margin: 0;
    background-color: #1B263B;
    height: 60px;
    z-index: 1;
}

.logo {
    margin: 9px 150px 0 150px;
    transition: ease-in-out 0.2s;
}


.nav {
    display: flex;
    justify-content: end;
    position: relative;
    bottom: 33px;
    gap: 120px;
    margin: 0px 150px;
}

.nav a {
    border: none;
    color: #F1FAEE;
    text-decoration: none;
    border-bottom: 3px solid transparent;
    transition: ease-in 0.2s;
    padding-bottom: 3px;
    border-bottom: 3px solid #FFD700;
}

.nav a:hover {
    color: #FFD700;
}

.main-page {
    display: flex;
    align-items: center;
}

.text-main {
    margin-left: 100px;
    color: white;
    margin-top: 11%;
    border: 1px solid transparent;
    border-radius: 12px;
    padding: 22px;
    transition: ease-in-out 0.2s;
    box-shadow: 0px 0px 20px rgb(24, 24, 24);
}

.text-main:hover {
    border: 1px solid #F0C420;
}

.text-main h1 {
    margin-bottom: 20px;
    font-size: 50px;
    color: #F1FAEE;
}

.text-main p {
    margin-bottom: 40px;
    font-size: 18px;
    width: 650px;
}

.text-main button {
    border: none;
    padding: 18px;
    border-radius: 10px;
    background-color: white;
    font-size: 15px;
    cursor: pointer;
    transition: ease-in-out 0.1s;
    border: 3px solid transparent;
}

.text-main button:active {
    transform: scale(0.9);
}

.img-main {
    position: relative;
    left: 10%;
    top: 70px;
    box-shadow: 0px 0px 20px rgb(24, 24, 24);
    border-radius: 22px;
    padding: 32px;
    border: 1px solid transparent;
    transition: ease-in-out 0.2s;
}

.img-main:hover {
    border: 1px solid #F0C420;
    transform: scale(1.1);
}

::-webkit-scrollbar {
    width: 12px; /* Largura da barra de rolagem */
  }
  
  ::-webkit-scrollbar-track {
    background: #1B263B; /* Cor do fundo da barra (trilho) */
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: rgb(79, 79, 79); /* Cor do "botão" da rolagem */  
    border: none;
  }
  
/* inciando cards */

.info-main {
    height: 92vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-main h2 {
    color: #F1FAEE;
    font-size: 40px;
} 

.cards {
    display: flex;
    gap: 90px;
    background-color: #0d1c2d;
    padding: 150px 100px 80px;
    margin-top: 20px;

    border-radius: 22px;
    box-shadow: 0px 0px 20px rgb(24, 24, 24);
}

.card1,
.card2,
.card3,
.card4 {
    background-color: #0d1c2d;
    padding: 20px 70px;
    height: 300px;
    box-shadow: 0px 0px 20px rgb(24, 24, 24);
    border-radius: 12px;
}

.cards img {
    border-radius: 10px;
}

.titulo-p {
    color: #F1FAEE;
    margin-top: 15px;
    font-size: 25px;
    
    font-weight: bold;
    text-align: center;
    letter-spacing: 2px;
}

.descricao-p {
    color: white;
    margin-top: 20px;
    text-align: center;
    letter-spacing: 1px;
    font-size: 16px;
}

.card1 {
    transition: 0.3s ease-in-out;
    background-image: linear-gradient(45deg, #ff0000, #cccccc);
    background-size: 300% 300%;
    animation: gradiente-movendo 4s linear infinite;
}

.card1:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 30px rgba(255, 0, 0, 0.8); 
}

.card2 {
    transition: 0.3s ease-in-out;
    background-image: linear-gradient(45deg, #1aff00, #cccccc);
    background-size: 300% 300%;
    animation: gradiente-movendo 4s linear infinite;
}


.card2:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 30px rgba(30, 255, 0, 0.8);
}

.card3 {
    transition: 0.3s ease-in-out;
    background-image: linear-gradient(45deg, #d4ff00, #cccccc);
    background-size: 300% 300%;
    animation: gradiente-movendo 4s linear infinite;
}

.card3:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 30px rgba(255, 255, 0, 0.8); 
}

.card4 {
    transition: 0.3s ease-in-out;
    background-image: linear-gradient(45deg, #0077ff, #cccccc);
    background-size: 300% 300%;
    animation: gradiente-movendo 4s linear infinite;
}

.card4:hover {
    transform: scale(1.1); 
    box-shadow: 0px 0px 30px rgba(0, 145, 255, 0.8); 
}

/* Animação que move o gradiente */
@keyframes gradiente-movendo {
    0% {
        background-position: 0% 50%; /* Posição inicial do gradiente */
    }
    50% {
        background-position: 100% 50%; /* Meio da animação */
    }
    100% {
        background-position: 0% 50%; /* Volta para o início */
    }
}

/*inciando footer*/

footer {
    background-color: #0f2135;
    height: 50px;
    margin-top: 20px;
    color: rgb(199, 199, 199);
    display: flex;
    justify-content: center;
    align-items: center;
}