* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.main {
    /* background-color: rgb(55, 55, 55); */
    display: flex;
    flex-direction: column;
    height: 100vh;
    /* background-image: linear-gradient(to left, rgb(62, 61, 61), rgb(35, 35, 35)); */

    /* box-shadow: 0px 5px 10px 1px rgb(36, 35, 35); */
}

body {
    background-color: #0D1B2A;
}

.header {
    position: sticky;
    top: 0;
    /* background-image: linear-gradient(to left, rgb(62, 61, 61), rgb(35, 35, 35)); */
    padding: 0;
    margin: 0;

    background-color: #1B263B;

    /* border-bottom: 2px solid white; */
    height: 60px;

    /* box-shadow: 0px 5px 10px 1px rgb(36, 35, 35); */
    z-index: 1;
}

.logo {
    margin: 9px 150px 0 150px;
    /* background-color: aqua; */
    transition: ease-in-out 0.2s;
}


.nav {
    display: flex;
    justify-content: end;
    position: relative;
    bottom: 33px;
    gap: 120px;
    margin: 0px 150px;
    
    
    /* background-color: aqua; */

    /* background-color: aqua;
    opacity: 0.5; */
}

.nav a {
    border: none;
    color: #F1FAEE;
    text-decoration: none;
    border-bottom: 3px solid transparent;
    transition: ease-in 0.2s;
    padding-bottom: 3px;
}

.nav a:hover {
    border-bottom: 3px solid #FFD700;
    color: #FFD700;
}

.main-page {
    display: flex;
    align-items: center;
}

.text-main {
    margin-left: 100px;
    color: white;
    /* background-color: aqua; */
    margin-top: 11%;
    border: 1px solid transparent;
    border-radius: 12px;
    padding: 22px;
    transition: ease-in-out 0.2s;
    box-shadow: 0px 0px 20px rgb(24, 24, 24);
}

.text-main:hover {
    border: 1px solid #F0C420;
}

.text-main h1 {
    margin-bottom: 20px;
    font-size: 50px;
    color: #F1FAEE;
}

.text-main p {
    margin-bottom: 40px;
    font-size: 18px;
    /* background-color: aqua; */
    width: 650px;
}

.text-main button {
    border: none;
    padding: 18px;
    border-radius: 10px;
    background-color: white;
    font-size: 15px;
    cursor: pointer;
    transition: ease-in-out 0.1s;
    border: 3px solid transparent;
}

.text-main button:hover {
    border: 3px solid #00B4D8;

}

.text-main button:active {
    transform: scale(0.9);
}

.img-main {
    position: relative;
    left: 10%;
    top: 70px;
    box-shadow: 0px 0px 20px rgb(24, 24, 24);
    border-radius: 22px;
    padding: 32px;
    border: 1px solid transparent;
    transition: ease-in-out 0.2s;
}

.img-main:hover {
    border: 1px solid #F0C420;
}

::-webkit-scrollbar {
    width: 12px; /* Largura da barra de rolagem */
  }
  
  ::-webkit-scrollbar-track {
    background: rgb(122, 122, 122); /* Cor do fundo da barra (trilho) */
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: rgb(79, 79, 79); /* Cor do "botão" da rolagem */  
    border: none; /* Borda para dar efeito separado */
  }
  
/* inciando cards */

